DT {
	FONT-WEIGHT: bold
}
DD {
	MARGIN: 0px 0px 1em 1em
}
LI {
	MARGIN-TOP: 0.2em; MARGIN-BOTTOM: 0.2em
}
SUP {
	FONT-SIZE: 70%
}
FORM {
	DISPLAY: inline; MARGIN: 0px
}
LABEL {
	FONT-WEIGHT: bold
}
.subtitle {
	FONT-STYLE: italic
}
DIV.para {
	MARGIN: 1em 0px
}
UNKNOWN {
	MARGIN-TOP: 0.2em; MARGIN-BOTTOM: 0.2em
}
DIV.section {
	DISPLAY: block; PADDING-LEFT: 3%
}
UNKNOWN {
	MARGIN-LEFT: -1.3%
}
.block {
	DISPLAY: block; MARGIN: 0.1em 1em
}
.imgright {
	FLOAT: right; MARGIN: 0px 0px 2em 2em
}
.first {
	MARGIN-TOP: 0px
}
:link IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
:visited IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.deepLevel #mainContent :link IMG {
	BORDER-RIGHT: solid; BORDER-TOP: solid; BORDER-LEFT: solid; BORDER-BOTTOM: solid
}
.deepLevel #mainContent :visited IMG {
	BORDER-RIGHT: solid; BORDER-TOP: solid; BORDER-LEFT: solid; BORDER-BOTTOM: solid
}
.deepLevel #mainContent #buttons :link IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.deepLevel #mainContent #buttons :visited IMG {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.ex-ref {
	FONT-STYLE: italic
}
DL.toc DT {
	MARGIN-TOP: 1em; FONT-SIZE: 110%
}
DL.toc P {
	MARGIN: 0px; TEXT-INDENT: 1em
}
DL.toc P:unknown {
	TEXT-INDENT: 0px
}
UNKNOWN {
	MARGIN-LEFT: 1em
}
OL.toc OL {
	LIST-STYLE-TYPE: circle
}
UNKNOWN {
	FONT-SIZE: 90%
}
UL.snav {
	PADDING-RIGHT: 0.2em; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; MARGIN: 0.7em 10%; PADDING-TOP: 0.2em; LIST-STYLE-TYPE: none; TEXT-ALIGN: center
}
UNKNOWN {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
UNKNOWN {
	DISPLAY: inline
}
UNKNOWN {
	content: " | "
}
UNKNOWN {
	content: ""
}
A.cont {
	DISPLAY: block; MARGIN-RIGHT: 0px; TEXT-ALIGN: right
}
UNKNOWN {
	PADDING-LEFT: 1em; TEXT-INDENT: -1em
}
UNKNOWN {
	content: "?"
}
DIV.quote {
	MARGIN: 1em
}
DIV.epigraph {
	MARGIN: 1em
}
DIV.quote Q {
	DISPLAY: block; MARGIN: 0px 0.5em; TEXT-INDENT: -0.5em
}
DIV.epigraph Q {
	DISPLAY: block; MARGIN: 0px 0.5em; TEXT-INDENT: -0.5em
}
DIV.quote CITE {
	PADDING-RIGHT: 1em; DISPLAY: block; PADDING-LEFT: 1em; PADDING-BOTTOM: 0px; TEXT-INDENT: -1em; PADDING-TOP: 0px; TEXT-ALIGN: right
}
DIV.epigraph CITE {
	PADDING-RIGHT: 1em; DISPLAY: block; PADDING-LEFT: 1em; PADDING-BOTTOM: 0px; TEXT-INDENT: -1em; PADDING-TOP: 0px; TEXT-ALIGN: right
}
DIV.quote CITE:unknown {
	content: "?"
}
DIV.epigraph CITE:unknown {
	content: "?"
}
BLOCKQUOTE.epigraph {
	FONT-STYLE: italic; TEXT-ALIGN: right
}
DIV.epigraph Q {
	FONT-STYLE: italic; TEXT-ALIGN: right
}
BLOCKQUOTE.epigraph EM {
	FONT-STYLE: normal
}
DIV.epigraph Q EM {
	FONT-STYLE: normal
}
BLOCKQUOTE.epigraph ADDRESS {
	FONT-STYLE: normal
}
DIV.epigraph CITE {
	FONT-STYLE: normal
}
.note {
	FONT-STYLE: italic
}
.note:unknown {
	content: "Note: "
}
.remark {
	FONT-SIZE: smaller
}
.remark:unknown {
	content: "["
}
.remark:unknown {
	content: "]"
}
.sidenote {
	CLEAR: both; BORDER-RIGHT: 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: 1px solid; PADDING-LEFT: 0.2em; FLOAT: right; PADDING-BOTTOM: 0.2em; MARGIN: 0.75em 0.5em; BORDER-LEFT: 1px solid; WIDTH: 30%; PADDING-TOP: 0.2em; BORDER-BOTTOM: 1px solid; min-width: 15em
}
.sidenote H1 {
	FONT-SIZE: 1.4em
}
.sidenote H2 {
	FONT-SIZE: 1.25em
}
.sidenote H3 {
	FONT-SIZE: 1.1em
}
UNKNOWN {
	MARGIN-TOP: 0px
}
STRONG.stronger {
	FONT-WEIGHT: bold; FONT-STYLE: italic
}
STRONG.very-strong {
	FONT-WEIGHT: bold; TEXT-TRANSFORM: uppercase
}
.important {
	BORDER-RIGHT: #f00 solid; PADDING-RIGHT: 0.1em; BORDER-TOP: #f00 solid; PADDING-LEFT: 0.1em; FONT-SIZE: larger; PADDING-BOTTOM: 0.1em; MARGIN: 1em; BORDER-LEFT: #f00 solid; PADDING-TOP: 0.1em; BORDER-BOTTOM: #f00 solid
}
DIV.important {
	BORDER-RIGHT: #f00 solid; PADDING-RIGHT: 0.1em; BORDER-TOP: #f00 solid; PADDING-LEFT: 0.1em; FONT-SIZE: larger; PADDING-BOTTOM: 0.1em; MARGIN: 1em; BORDER-LEFT: #f00 solid; PADDING-TOP: 0.1em; BORDER-BOTTOM: #f00 solid
}
P.important {
	BORDER-RIGHT: #f00 solid; PADDING-RIGHT: 0.1em; BORDER-TOP: #f00 solid; PADDING-LEFT: 0.1em; FONT-SIZE: larger; PADDING-BOTTOM: 0.1em; MARGIN: 1em; BORDER-LEFT: #f00 solid; PADDING-TOP: 0.1em; BORDER-BOTTOM: #f00 solid
}
PRE.screen {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: 1px solid; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; MARGIN: 1em 0.5em; OVERFLOW: auto; BORDER-LEFT: 1px solid; PADDING-TOP: 0.2em; BORDER-BOTTOM: 1px solid; FONT-FAMILY: monospace; WHITE-SPACE: pre
}
DIV.screen {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: 1px solid; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; MARGIN: 1em 0.5em; BORDER-LEFT: 1px solid; PADDING-TOP: 0.2em; BORDER-BOTTOM: 1px solid
}
SPAN.application {
	FONT-STYLE: italic
}
KBD.long {
	DISPLAY: block; MARGIN: 0.1em 1em
}
KBD.command {
	WHITE-SPACE: pre
}
CODE.command {
	WHITE-SPACE: pre
}
CODE.filename {
	FONT-STYLE: italic; WHITE-SPACE: nowrap
}
CODE {
	FONT-SIZE: 1em
}
PRE {
	FONT-SIZE: 1em
}
CODE {
	WHITE-SPACE: nowrap
}
CODE.long {
	DISPLAY: block; MARGIN: 0.1em 1em; WHITE-SPACE: normal
}
PRE.code {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: 1px solid; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; MARGIN: 1em 0.5em; OVERFLOW: auto; BORDER-LEFT: 1px solid; PADDING-TOP: 0.2em; BORDER-BOTTOM: 1px solid
}
PRE.code .remark {
	FONT-SIZE: 1em; FONT-STYLE: italic
}
PRE.code .remark:unknown {
	content: ""
}
PRE.code .remark:unknown {
	content: ""
}
PRE.code .note:unknown {
	content: ""
}
.example {
	BORDER-RIGHT: solid; PADDING-RIGHT: 0.25em; BORDER-TOP: solid; PADDING-LEFT: 0.25em; PADDING-BOTTOM: 0.25em; MARGIN: 1em 3%; BORDER-LEFT: solid; PADDING-TOP: 0.25em; BORDER-BOTTOM: solid
}
.example:unknown {
	DISPLAY: block; FONT-WEIGHT: bold; content: "Example"
}
UNKNOWN {
	content: "Example: " attr(title)
}
PRE.bad {
	BORDER-RIGHT: red 3px dashed; BORDER-TOP: red 3px dashed; BORDER-LEFT: red 3px dashed; BORDER-BOTTOM: red 3px dashed
}
DIV.bad {
	BORDER-RIGHT: red 3px dashed; BORDER-TOP: red 3px dashed; BORDER-LEFT: red 3px dashed; BORDER-BOTTOM: red 3px dashed
}
.example:unknown {
	content: "Incorrect Example"
}
UNKNOWN {
	content: "Incorrect Example: " attr(title)
}
PRE.good {
	BORDER-RIGHT: lime 3px double; BORDER-TOP: lime 3px double; BORDER-LEFT: lime 3px double; BORDER-BOTTOM: lime 3px double
}
DIV.good {
	BORDER-RIGHT: lime 3px double; BORDER-TOP: lime 3px double; BORDER-LEFT: lime 3px double; BORDER-BOTTOM: lime 3px double
}
.example:unknown {
	content: "Correct Example"
}
UNKNOWN {
	content: "Correct Example: " attr(title)
}
.figure {
	DISPLAY: block; MARGIN: 0.75em auto
}
.screenshot {
	DISPLAY: block; MARGIN: 0.75em auto
}
OBJECT.figure OBJECT {
	DISPLAY: block; MARGIN: 0px auto
}
OBJECT.screenshot OBJECT {
	DISPLAY: block; MARGIN: 0px auto
}
OBJECT.figure IMG {
	DISPLAY: block; MARGIN: 0px auto
}
OBJECT.screenshot OBJECT {
	DISPLAY: block; MARGIN: 0px auto
}
UNKNOWN {
	DISPLAY: block; FONT-SIZE: small; MARGIN: 0px 8% 0.05em; FONT-STYLE: italic; TEXT-ALIGN: right; content: attr(title)
}
.co {
	TEXT-DECORATION: underline
}
.callout {
	TEXT-DECORATION: underline
}
.qandaset .question {
	FONT-WEIGHT: bold; FONT-SIZE: large
}
.qandaset .answer {
	MARGIN-TOP: 1em
}
TABLE.data {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; MARGIN: 0.5em auto; BORDER-LEFT: 1px solid; BORDER-BOTTOM: 1px solid; BORDER-COLLAPSE: collapse
}
TABLE.data CAPTION {
	FONT-SIZE: small; MARGIN: 1em auto 0.2em; FONT-STYLE: italic; TEXT-ALIGN: center
}
TABLE.data TH {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: 1px solid; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; VERTICAL-ALIGN: baseline; BORDER-LEFT: 1px solid; PADDING-TOP: 0.2em; BORDER-BOTTOM: 1px solid
}
TABLE.data TD {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: 1px solid; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; VERTICAL-ALIGN: baseline; BORDER-LEFT: 1px solid; PADDING-TOP: 0.2em; BORDER-BOTTOM: 1px solid
}
TABLE.data TBODY TH:unknown {
	TEXT-ALIGN: right
}
TABLE.data THEAD TH {
	VERTICAL-ALIGN: bottom
}
ADDRESS {
	TEXT-ALIGN: right
}
.author {
	MARGIN-BOTTOM: 1em; TEXT-ALIGN: left
}
UNKNOWN {
	MARGIN-TOP: 0px
}
.productlist {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.productlist LI {
	CLEAR: left; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 1em; MARGIN-LEFT: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.productlist H3 {
	MARGIN: 0px 0px 0.2em
}
.productlist IMG {
	FLOAT: left; MARGIN: 0px 0.5em 1em 0px
}
.flLeft {
	FLOAT: left; MARGIN: 5px 10px 5px 0px
}
.flRight {
	FLOAT: right; MARGIN: 5px 0px 5px 10px
}
