@page
@{
    Layout = "_Layout.cshtml";
}

@model IndexModel
@{
    ViewData["Title"] = "Use Cases";
}

<div class="text-left">
    <h4>Experiment with Standard Industry Use Cases</h4>
    <ul>
        <li><a href="/UseCases/Sentiment">Sentiment</li></a>
         <li><a href="/UseCases/Emotions">Emotions</li></a>
        <li><a href="/UseCases/OrderBOT">Order BOT</li></a>
        <li><a href="">Extract Product</li></a>
        <li><a href="../NewsArticle">News Article</li></a>
        <li><a href="">Inferring</li></a>
        <li><a href="">Generate Description</li></a>
    </ul>
