@import url(chrome://global/skin/);

#find-text {
  min-width: 15em;
}

#progmeter {
  margin: 4px;
}

#find-button {
  width: 8ex;
}

#cancel-button {
  width: 8ex;
}

.springspace {
  width: 10px;
}

.titlespace {
  height: 10px;
}

