@page
@{
    Layout = "_Layout.cshtml";
}

@model IndexModel
@{
    ViewData["Title"] = "Use Cases";
}

<div class="text-left">
    <h4>Experiment with Standard Industry Use Cases</h4>
    <ul>
        <li><a href="/PromptTechniques/ZeroShot">Zero Shot</li></a>
        <li><a href="/PromptTechniques/FewShot">Few Shot</li></a>
        <li><a href="/PromptTechniques/CoT">Chain Of Thoughts</li></a>
        <li><a href="/PromptTechniques/CoT">Tree Of Thoughts</li></a>
        <li><a href="/PromptTechniques/GeneralKnowledge">General Knowledge</a></li></a>
    </ul>
