@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <h4>You can play with the following experiements on ChatGPT</h4>

    <ul>
        <li><a href="/UseCases/UseCaseIndex">Standard Industry Use Cases</li></a>
        <li><a href="/PromptTechniques/PromptTechniquesIndex">Prompt Techniques</li></a>
        <li><a href="">Functions</li></a>
        <li><a href="">Moderations</li></a>
        <li><a href="">Embeddings</li></a>
        <li><a href="">Fine Tuning</li></a>
    </ul>
</div>
