BODY
{
}
TABLE
{
    BACKGROUND-COLOR: mintcream;
    BACKGROUND-IMAGE: url(file://C:\WINNT\Internet Explorer Wallpaper.bmp);
    BORDER-BOTTOM: thick outset;
    BORDER-LEFT: thick outset;
    BORDER-RIGHT: thick outset;
    BORDER-TOP: thick outset;
    MARGIN: 0px;
    PADDING-BOTTOM: 10px;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 10px;
    PADDING-TOP: 10px
}
