.carousel-control-next-icon::before,
.carousel-control-prev-icon::before {
    content: '';
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2300f'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-color: blue;
    padding: 4px;
    border-radius: 4px;
    display: block;
    width: 100%;
    height: 100%;
}
.page-section {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

.fixed-height {
  height: 100vh; /* Set the desired fixed height */
  object-fit: fill; /* Optional: Ensure the image covers the area */
}

.responsive-height {
  height: 50vh; /* Set the height to 50% of the viewport height */
  object-fit: cover; /* Optional: Ensure the image covers the area */
}

.bg-text {
  animation: pulseGlow 2s ease-in; /* Smooth glowing effect */
  color: blue; /* Sleek green color */
  font-size: 50px; /* Slightly larger font size */
  font-weight: bold;
  z-index: 2;
  width: 100%;
  text-align: center; /* Center-align the text */
  text-shadow: 0 0 10px greenyellow, 0 0 20px #28a745, 0 0 30px #ffffff; /* Multi-layer glowing effect */
}

@keyframes pulseGlow {
  0% {
    text-shadow: 0 0 10px greenyellow, 0 0 20px #28a745, 0 0 30px #ffffff;
    font-size: 0px;

  }
  100% {
    text-shadow: 0 0 20px greenyellow, 0 0 30px #28a745, 0 0 40px #ffffff;
    font-size: 50px;

  }
}
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  /* Zoom-in and out effect for the background */
  @keyframes zoomIn {
    0% {
      background-size: 100%;
    }
  
    50% {
      background-size: 120%;
      /* Zoom in by 10% */
    }
  
    100% {
      background-size: 100%;
      /* Zoom back to original size */
    }
  }

  @keyframes increaseSize {
    0% {
      font-size: 0px;
      width: 100%;
      text-shadow: 0px 0px 2px #ffffff;
    }
    100% {
      font-size: 60px;
      width: 100%;
      text-shadow: 0px 0px 2px #ffffff;
    }
  }

  @media screen and (max-width: 800px) {
    .image-style {

        max-width: 100%;
        height: 550px;
        opacity: 0.5;
        border-radius: 0px;
    }
    
    .bg-text {
      animation: none;
        color: blue;
        font-weight: bold;
        font-style: italic;
        z-index: 2;
        font-size: 30px;
        width: 100%;
    }

    .d-md-block {
        display: block !important;
    }
}

